* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    
    
}

/* HEADER */
header {
    width: 100%;
    background: rgba(9, 74, 131, 1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    justify-content: flex-start;
}

header .logo img {
    height: 70px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
}

/* BANNER */
.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.banner img {
    width: 100%;
    height: 620px;
    object-fit: cover;
   
}

/* PARCEIROS */
.parceiros {
    background: #004A84;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.parceiros img {
    height: 50px;
}

/* PARTIDAS */
.partidas {
    padding: 40px;
    background: url("./image\ 15.png");
   
}

.card {
    background: #000000;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
    color: white;
}

.card .titulo {
    font-size: 18px;
    font-weight: bold;
}

.card .sub {
    font-size: 13px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.team img {
    height: 40px;
    margin-right: 10px;
}

.vs {
    font-size: 22px;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #000;
    padding: 40px;
    color: white;
    text-align: center
}

footer img {
    height: 70px;
  
}

footer .links {
    margin: 20px 0;
}

footer .links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.dev {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.6;
}
